services:
  - type: web
    name: kali-vnc-ngrok
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    autoDeploy: true
    envVars:
      - key: PORT
        value: 5901
