services:
  - type: web
    name: fedora-gnome-qemu-rdp-ngrok
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    autoDeploy: true
    envVars:
      - key: PORT
        value: 3389
